<h1>Login to Appointment Tracker!</h1>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Name/Username:">
  <input type="text" name="password" placeholder="Password:">

  <input class="btn btn-primary" type="submit" value="Login">
</form>
