<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <input type="text" placeholder="Your Name/Username:" name="username">
  <input type="text" placeholder="Password:" name="password">
  <input class="btn btn-primary" value="Sign Up" type="submit">
</form>
