<!doctype html>
<html>
  <head>
    <title>Appointment Tracker App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav>
      <% if logged_in? %>
        <a class="btn btn-primary" href="/appointments">Appointments</a>
        <a class="btn btn-primary" href="/patients">Patients</a>
        <a class="btn btn-success" href="/appointments/new"> Create Appointment </a>
        <a class="btn btn-danger" href="/logout"> Log Out </a>
        <p>Welcome, <strong><%=current_user.username %></strong></p>

      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Sign In </a>
      <%end %>

    </nav>
    <div class="container">
      <h1>Appointment Tracker App</h1>
      <hr>
      <% if !@error_message.nil? %>
      <div class="alert alert-warning">
        <%= @error_message %>
      </div>
    <% end %>
      <%= yield %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
